#intro {
	font-family: 'Verdana', 'serif';
}
img{
  height:5px;
  width: 5px;
  float:right;
}

table {
	border: 0px;
	border-style: solid;
}

table th, td {
	border-style: none;
}

@media print {
	a {
		color: green;
	}

	img {
		display: none;
	}

	li {
		list-style-type:square;
	}

	#introduction {
		font-family: 'Arial', 'sans-serif';
	}

	table th, td {
		border: 1px;
		border-style: solid;
	}


}